<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex align-items-center gap-12">
              <div>
                <button mat-flat-button color="primary" [matTooltip]="isCurrentSending ? txt.cant_send_notifications : ''" (click)="actionNotification()">
                    {{txt.newNotification}}
                </button>
              </div>
              <button mat-icon-button matTooltip="Recargar notificaciones" (click)="reloadTable()" >
                <mat-icon color="primary">
                  <i-tabler name="reload"></i-tabler>
                </mat-icon>
              </button>

            <!-- <div class="d-flex gap-12 align-items-center flex-wrap animated-show" *ngIf="statusSend == 'sending'">
              <mat-spinner diameter="30"></mat-spinner>
              Enviando notificación...
            </div> -->

        </div>
    </mat-card-content>
</mat-card>

<app-table
    [columns]="columns"
    [data]="datasource"
    [isLoad]="isLoad"
    [paginator]="paginator"
    [enabledAction]="true"
    (onSearch)="onSearch($event)"
    (onChangePage)="onChangePage($event)"
    (onPressRow)="actionNotification($event)"
    (onPressAction)="deleteNotification($event)"
></app-table>
