/*
****** FONTS
*/

  @font-face {
    font-family: "Inter";
    font-style: normal;
    src: url("../fonts/Inter/Inter-Regular.ttf");
  }
  @font-face {
    font-family: "Inter-Light";
    font-style: normal;
    src: url("../fonts/Inter/Inter-Light.ttf");
  }
  @font-face {
    font-family: "Inter-Medium";
    font-style: normal;
    src: url("../fonts/Inter/Inter-Medium.ttf");
  }
  @font-face {
    font-family: "Inter-SemiBold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter/Inter-SemiBold.ttf");
  }
  @font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Inter/Inter-Bold.ttf");
  }