button,
div{
    max-width: 450px;
    outline: none;
}

div.content-message{
    color: var(--dark-charcoal) !important;
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.2;
}

h1{
    font-size: 22px !important;
}

.buttons{
    display: grid;
    place-content: center;

    button{
        background: var(--light);
        border: none;
        padding: 12px;
        border-radius: 8px;
        color: var(--dark-charcoal) !important;
    }
}