<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex align-items-center">
            <div class="m-r-auto">
                <button mat-flat-button color="primary" (click)="addOnboarding()">
                    {{ txt.new_onboarding }}
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<app-table
    [columns]="columns"
    [data]="datasource"
    [isLoad]="isLoad"
    [paginator]="paginator"
    [enabledAction]="true"
    (onSearch)="onSearch($event)"
    (onChangePage)="onChangePage($event)"
    (onPressRow)="openOnboarding($event)"
    (onPressAction)="deleteLevel($event)"
></app-table>
